<head>
  <script src='https://www.google.com/recaptcha/api.js'></script>
   <link rel="stylesheet" type="text/css" href="faucet.css" media="screen" />
</head>
<div id="form-main">
  <div id="form-div" class="box">
      <div class="ribbon"><span><a href="https://github.com/BurstNeon/burstcoin-faucet" target="_blank">Beta</a></span></div>
    <h1 id="titi">Burstcoin Faucet</h1>
    <form class="form" method="post" action="/" novalidate>

      <p class="name">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Enter Numeric Account ID" id="name" />
      </p>
          <div class="g-recaptcha" data-sitekey="6Le9GBoUAAAAAA_ykP4jTPq0TcMSsiTnpxb_EWAu"></div><br>

      <div class="submit">
        <input type="submit" value="Claim" id="button-blue"/>
        <div class="ease"></div>
        <h3 id="error">   <%= error %> <h3>
      </div>
      <h2 id="error"> Dont Enter your Passphrase !</h2>
    </form>

  </div>
