<head>
  <script src='https://www.google.com/recaptcha/api.js'></script>
   <link rel="stylesheet" type="text/css" href="faucet.css" media="screen" />
</head>
<div id="form-main">
  <div id="form-div" class="box">
      <div class="ribbon"><span><a href="https://github.com/BurstNeon/burstcoin-faucet" target="_blank">Git Beta</a></span></div>

    <h1 id="titi">Burstcoin Faucet</h1>
    <form class="form" method="post" action="/burst" novalidate>

      <p class="name">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Enter Numeric Account ID" id="name" />
      </p>

      <div class="submit">
        <input type="submit" value="Claim" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
      <h3 id="status">   Faucet Balance: <%= balance %> <h3>
      <h3 id="error">   <%= error %> <%= status %>  <h3>
<style>
#status {
    background: #0e0e0e;
        background-color: rgb(14, 14, 14);
    text-align: center;
    color: black;
    text-transform: uppercase;
    background-color: #ED474780;
    width: 100%;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
}
</style>
  </div>
